.welcame-banner-bg{
    background-color: #333333;
}

.sub-text{
    color: #36C3C6;
    font-size: larger;
}

.w-service{
    color: #C6C6C6;
}

.welcome-text{
    font-family: 'Carter One', cursive;
    font-weight: 900;
    letter-spacing: 2px;
}