.footer{
    background-color: #222429;
    margin-top: 50px;
    padding-bottom: 20px;
}

.icon-color{
    color: black;
}

.copyright{
    background-color: #222429;
}

.text-color{
    color: #95999F;
}