.banner{
    position: relative;
}

.banner-heder{
    position: absolute;
    top: 1%;
    left: 0;
    right: 0;
}

.banner-img{
    height: 41rem;
}

.carusel-cations{
    margin-bottom: 10rem;
}

.carusel-header{
    font-weight: 900;
}

.carsuel-items{
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}